/* //************************************************************************************************** */

/* Paleta de Colores */
/* Verde oscuro         #045e2d */
/* Negro Envejecido     #191919 */
/* Blanco               #ffffff */

/* ********************************************************************************************************** */

/* CSS Reset */
* {
    Margin: 0;
    Padding: 0;
    box-sizing: border-box;
    color: #ffffff
}

/*********************************************** BODY ************************************************/
/*HEADER*/

header {
    border-top: 15px solid #045e2d;
    border-bottom: 15px solid #045e2d;
    background-color: #191919;
    color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 180px;
}

/* Contenedor general Header */
header .header-contenedor {
    display: flex;
    flex-direction: row;
    align-content:space-around;
    align-items: center;
}

/* Contenedores DIV */

header .logo {
    width: 25%;
}

header .titulo-header {
    width: 50%;
}

header .logo-carrito {
    width: 25%;
}

header .logo img {
    width: 80px;
    height: 80px;
    padding: 5px;
}

header .titulo-header h1 {
    text-shadow: 3px 3px 2px rgba(255, 187, 66, 0.6);
    font-size: 2.5rem;
    text-align: center;
}

header .titulo-header h2 {
    font-size: 1.5rem;
    text-align: center;
}

header .logo-carrito img  {
    width: 40px;
    height: 40px;
}

header .logo-carrito i {
    font-size: 40px;
}

/**************************************************************************************************************
/* MAIN */

main{
    background-color: #191919;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 30px 0px;
} */

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-bottom: 20px;
}

.contenedor img {
    width: 280px;
    height: 260px;
    /* object-fit: cover; */
    border-radius: 15px 15px 15px 15px; 
}

.contenedor-elementos {
    background-color: #fc7800;
    box-shadow: 2px 2px 2px 1px rgba(241, 239, 239, 0.918);
    border-radius: 15px;
    text-align: center;
    padding-bottom: 10px;
}
.contenedor-elementos:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 2px 1px rgba(240,0,14,0.75);
    background-color: #045e2d;
}

.nom-produ {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color:#b80d0d;
}

.precio-items {
    font-size: 20;
    font-weight: 500;
}

button {
    background-color: #191919;
    width: 150px;
    height: 35px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 0px white;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
}

/* ************************************************************************************************ */
/* SECTION */
/* Tabla amortizacion */

#titulo-tabla-amortizacion {
    background-color: #045e2d;
    border: 1px solid white;
    text-align: center;
}

#columnas-tabla-amortizacion {
    background-color: #b80d0d;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 50px;
    font-size: 8px;
}

.cuerpo-tabla-amortizacion {
    background-color: #000000;
    border: 1px solid white;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 40px;
    font-size: 5px;
}

#titulo-tabla-amortizacion h1 {
    font-size: 30px;
    padding: auto 5px;
    text-align: center;
}

#columnas-tabla-amortizacion h1 {
    font-size: 18px;
    padding: auto 5px;
    text-align: center;
}

section p {
    font-size: 16px;
    text-align: center;
}
















